* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(205, 247, 233) ;
}
.img {
    display: block;
    margin: 15px auto;
    width: 52%;
    min-width: 350px;
    border-radius: 7%;
    border: 3px solid;
    border-left-color: blue;
    border-right-color: blueviolet;
    
}
.imgCreate {
    display: block;
    max-width: 350px;
    margin: 5px 6px 10px;
    width: 45%;
    border: 2px solid rgb(81, 188, 207);
}
a {
    text-decoration: none;
    color: rgb(0, 18, 185);
}
.food li:hover {
    background-color: rgb(224, 131, 131);
    margin-left: 3px;
}
.food {
margin-left: 11%;

}
.goUp {
    display: block;
    font-size: 13px;
    text-align: end;
    margin: 0px 2% 4px;
    color: rgb(255, 0, 0)
}
h2, h1 {
    text-align: center;
    margin: 15px 0px 0px 0px;
}
h3 {
    margin: 15px 6% 8px;
}
.ingridients {
    margin-left: 11%;
    margin-right: 5px;
}
.time-create {
    display: block;
    text-align: end;
    margin-right: 3%;
}
.go-up-hover:hover {
    background-color:rgb(108, 233, 255)
}